*,:after,:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 17px;
    font-family: 'Helvetica';
}

.main-header {
    display: flex;
    align-items: center;
    height: 5rem;
    background-color: #343a40;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    font-weight: 600;
}

 .header {   
    margin: 0 auto;
    width: 90rem;
    display: flex;
    justify-content: space-between;
  
} 

.header-items {
    padding-top: 0.5rem;
}

.item {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.item-acc {
    padding-top: 0.5rem;
}

.logo {
    color:#f3f0ff;
    cursor: pointer;
}

.header a {
    text-decoration: none;
    color: #f3f0ff; 
    opacity: .7;
    transition: .2s;
}

.header a:hover {
    opacity: 1;
}

.text-color-form {
    color: #2f3438 !important;
}

.form-header {
    border-radius: 0.8rem !important;
    box-shadow: 0 0rem 2rem rgba(0,0,0,0.115);
}

.angle-down {
    vertical-align: bottom;
    text-align: center;
}

.main-menu {
    margin-top: 9.5rem;
    padding-bottom: 9.5rem;
    margin-left: 4rem;
    display: inline-block;
}

.main-text {
    display: inline-block;
}

.main-text h2 {
    display: inline-block;
    font-size: 4.5rem;
    font-weight: 900;
    padding-bottom: 0.7rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.7rem;
    box-shadow:  0 0rem 2rem rgba(0,0,0,.275);
    color: white;
    background-color: #2f3438;
}

.main-text ul {
    margin-top: 2.5rem;
    font-size: 1.7rem;
    font-family: 'Roboto';
    font-weight: 200;
    line-height: 4rem;
}

li {
    list-style-type: none;
}

.li-color {
    color: #575656;
}

.main-img {
    float: right;
    padding-left: 12rem;
}

.main-btn {
    /* border: none;
    width: 15rem;
    height: 4.5rem;
    margin-top: 2.5rem;
    color: #eee;
    background-color: #5b51ff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0.4rem;
    background-image: linear-gradient(53deg,#06beb6 0,#5b86e5 100%); */
    width: 15rem;
    height: 4.5rem;
    margin-top: 1.6rem;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    outline: none;
    border: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 50px;
    display: inline-block;
    color: #fff;
    background: linear-gradient(to right, #7f00ff, #6c63ff);
    transition: .2s;
}

.main-btn::after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -10px;
    left: 5%;
    height: 110%;
    width: 90%;
    opacity: 0.8;
    border-radius: 50px;
    background: inherit;
    -webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    -o-filter: blur(6px);
    -ms-filter: blur(6px);
    filter: blur(6px);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }

  .main-btn:hover::after {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
    width: 100%;
    bottom: -5px;
    left: 0;
  }

  .main-btn:hover i {
      padding-left: 0.8rem;
    transition: .2s;
  }

  .our-team {
      display: flex;
      justify-content: center;
      background-color: #222324; /*#343a40*/
  }

  .team-wrap {
    padding-top: 3rem;
    padding-bottom: 5rem;
  }

  .team {
      padding-top: 3.5rem;
      display: flex;
      flex-direction: row;
      text-align: center;
  }

  .cards {
    padding-left: 7rem;
    padding-right: 7rem;
  }

  .team-text {
      font-size: 4.5rem;
      font-weight: 800;
      color: #f3f0ff;
      text-align: center;
  }

.photo-team {
    border-radius: 50%;
    height: 13rem;
    width: 13rem;
    margin-bottom: 1.3rem;
    background-color: #4a35c2;
    overflow: hidden;
}

.photo-team img {
    height: 208px;
    width: 208px;
}

.team p {
    color: #f3f0ff;
    font-size: 1.2rem;
    font-weight: 600;
}

.social-team {
    color: #f3f0ff;
    opacity: 0.5;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    font-size: 1.3rem;
    cursor: pointer;
    transition: .3s;
}

.social-main-team {
    padding-top: 1rem;   
}

.social-vk:hover {
    opacity: 1;
}

.social-telegram:hover {
    opacity: 1;
}

.social-instagram:hover {
    opacity: 1;
}